body {
    -webkit-print-color-adjust:exact !important;
    print-color-adjust:exact !important;
}
@media print {
    .pagebreak { page-break-before: always; }
    body {
        -webkit-print-color-adjust: exact !important;
        print-color-adjust: exact !important;
    }
    .footer {
        position: fixed;
        bottom: 0px; /* Adjust as needed for positioning */
        right: 10px; /* Adjust as needed for positioning */
        font-size: 0.75rem; /* Small text */
        color: gray;
        text-align: right;
    }
    /* Ensure footer doesn't overlap content if content reaches bottom */
    body {
        padding-bottom: 10px; /* Adjust based on footer height */
    }
}
@font-face {
    font-family: 'themix';
    src: url('fonts/themix-bold.ttf') format('truetype');
    font-style: bold;
    font-weight: normal;
}
@font-face {
    font-family: 'themix';
    src: url('fonts/themix-normal.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'skautbold';
    src: url('fonts/skautbold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'funnel-sans';
    src: url('fonts/FunnelSans.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@page {
    size: A4;
    margin: 8.5mm;
}
.box {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem; 
    padding-left: 0.5rem;
    padding-right: 0.5rem; 
    padding-left: 0.75rem; 
    border-radius: 0.5rem;
    border-width: 1px; 
    border-color: #1F2937;
    min-height: 2rem;
    /* height: fit-content; */
    display: grid; 
    font-size: 0.9rem;
    grid-template-columns: 82% 18%;
    page-break-inside: avoid;
}
.inner_box {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: start;
    justify-content: start;
    page-break-inside: avoid;
}
.black_box {
    color: #ffffff; 
    background-color: #1F2937; 
}
.gray_box {
    color: #1F2937; 
    background-color: #cecece;
}
.myshadow {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);
}
.secondshadow {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
#boxes {
    padding: 0 2px;
}
[x-cloak] { display: none !important; }

.event-group {
    page-break-inside: avoid;
    display: grid;
}

.event-container {
    page-break-inside: avoid !important;
    break-inside: avoid !important;
}